*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1{
    margin:60px;
    text-align: center;
    color: #232253;
    font-size: 40px;
    
}
.container{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
    margin-inline:auto;
    font-size: 25px;
    text-align: justify;
}

iframe{
    border-radius: 20px;
    margin-block:30px;
    
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width:500px){
    iframe{
        height:200px;
        width:280px;
    }
    
} 