*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(35, 34, 83);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

/* css for header  */
#header{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-block: 5px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.116);
}

#buttons{
    display: flex;
    align-items:center ;
}
#logIn{
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
#logIn:hover{
    background-color: rgb(35, 34, 83); 
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#name{
    font-size: larger;
    font-weight: 800;
}
#name:hover{
    color: rgb(179, 14, 14);
    transition: 0.4s;
}
#profileLogo{
    display: none;
}
#firstLetter{
    display: none;
}
#firstLetter1{
    display: none;
}
#firstLetter1 h1{
    font-size: 10px;
}
 /* main css  */

#main_container{
    display: flex;
    font-family: "Tilt Neon", sans-serif;
}
#left_container{
    width: 50%;
    height: 89vh;
    background: linear-gradient(70deg, white,rgb(220, 230, 241),whitesmoke);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bounceDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#first{
    display: flex;
    gap: 25px;
    align-items: center;
}

#text-area{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
    /* box-shadow: 5px 8px 6px rgb(156, 104, 104); */
}

.colors-notes-text{
    display: flex;
    flex-direction: column;
}

#button{
    margin-left: -50px;
}

#button button{
    border: 0px;
    border-radius: 35px;
    padding: 20px;
    font-size: 15px;
    width: 130px;
    background: rgb(35, 34, 83); 
    font-weight: 600;
    color: white;
}

#right_container{
    width: 50%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

/* Responsive  */

@media screen and (max-width:900px){
    #header{
        border-radius: 0;
    }
    #profileLogo{
        display: block;
    }
    #logIn{
        display: none;
    }
    #name{
        display: none;
    }
    #firstLetter{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: 800;
        color: rgb(156, 10, 10);
        background-color: rgba(128, 128, 128, 0.253);
        width: 30px;
        height: 30px;
        border-radius: 15px; 
    }
    #firstLetter1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: 800;
        color: rgb(156, 10, 10);
        background-color: rgba(128, 128, 128, 0.253);
        width: 30px;
        height: 30px;
        border-radius: 15px; 
    }
    #home1{
        display: none;
    }
}

@media screen and (max-width:1050px){
    #main_container{
        flex-direction: column;
    }
    #right_container{
        width: auto;
        height: 70vh;
        padding: 10px;
    }
    #left_container{
        width: 100%;
        height: 25vh;
        flex-direction: row;
        justify-content: space-between;
    }
    #bounceDiv{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
    }
    #first{
        flex-direction: column;
    }
    #colors-notes-text{
        flex-direction: row;
    }
    #text-area{
        height: 40px;
        width:300px ;
    }
    #color-text{
        height: 20px;
        width: 20px;
    }
    #color{
        height: 20px;
        width: 20px;
    }
    #button button{
        height: 40px;
        width: 105px;
        padding: 2px;
    }
}

@media screen and (max-width:400px){

    #text-area{
        height: 40px;
        max-width:200px ;
    }
}






/* Animation  */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) scale(1);
    }
    40% {
        transform: translateY(-20px) scale(1.1);
    }
    60% {
        transform: translateY(-40px) scale(0.9);
    }
}

.bounce {
    display: block; 
    animation: bounce 1.5s;
}